<%- content_for(:head) do -%><%- end -%>

	
			<div id="featured">
				<div id="slides">
					<div class="slide active" style="background: #666f5c url('http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/featured-31.jpg') no-repeat top center;">
						<div class="container">
							<div class="description">
								<div class="product">
									<span class="tag"><span>$195.99</span></span>
									<h2 class="title">
										<a href="http://elegantthemes.com/preview/eStore/?p=20">Richie Sambora Line</a>
									</h2>
									<p>
										Duis molestie lacinia adipiscing. Proin ut imperdiet ligula. Pellentesque pharetra sapien pulvinar nisi molestie quis pharetra sapien egestas. Nunc ut arcu porttitor mauris placerat elementum. Phasellus nunc libero, porttitor non suscipit fermentum,...
									</p><a class="more" href="http://elegantthemes.com/preview/eStore/?p=20"><span>more info</span></a>
								</div><!-- .product -->
							</div><!-- .description -->
						</div><!-- .container -->
					</div><!-- .slide -->
					<div class="slide" style="background: #eb7f43 url('http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/featured-2.jpg') no-repeat top center;">
						<div class="container">
							<div class="description">
								<div class="product">
									<span class="tag"><span>$45.95</span></span>
									<h2 class="title">
										<a href="http://elegantthemes.com/preview/eStore/?p=16">Designer Chairs</a>
									</h2>
									<p>
										Aliquam gravida posuere magna a venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in diam mauris. Phasellus nunc dui, lacinia non sollicitudin dapibus, aliquam at lorem. Donec auctor, augue vitae scelerisque imperdiet,...
									</p><a class="more" href="http://elegantthemes.com/preview/eStore/?p=16"><span>more info</span></a>
								</div><!-- .product -->
							</div><!-- .description -->
						</div><!-- .container -->
					</div><!-- .slide -->
					<div class="slide" style="background: #adb6b3 url('http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/feature-11.jpg') no-repeat top center;">
						<div class="container">
							<div class="description">
								<div class="product">
									<span class="tag"><span>$125.99</span></span>
									<h2 class="title">
										<a href="http://elegantthemes.com/preview/eStore/?p=6">Trendy New Clothes</a>
									</h2>
									<p>
										Donec sit amet nulla ut dui consequat malesuada. Mauris elit orci, porttitor id dapibus suscipit, auctor vitae turpis. Praesent sit amet blandit ipsum. Vestibulum placerat sollicitudin purus quis egestas. Ut turpis mauris, congue a elementum vitae,...
									</p><a class="more" href="http://elegantthemes.com/preview/eStore/?p=6"><span>more info</span></a>
								</div><!-- .product -->
							</div><!-- .description -->
						</div><!-- .container -->
					</div><!-- .slide -->
				</div><!-- #slides-->
				<div id="controllers">
					<div class="container">
						<div id="switcher">
							<div class="item active">
								<a href="#" class="product"><img src="http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/feature-3-2-109x109.jpg" alt='Richie Sambora Line' width='109' height='109'> <span class="tag"><span>$195.99</span></span></a>
							</div><!-- .item -->
							<div class="item">
								<a href="#" class="product"><img src="http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/feature-2-2-109x109.jpg" alt='Designer Chairs' width='109' height='109'> <span class="tag"><span>$45.95</span></span></a>
							</div><!-- .item -->
							<div class="item last">
								<a href="#" class="product"><img src="http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/feature-1-2-109x109.jpg" alt='Trendy New Clothes' width='109' height='109'> <span class="tag"><span>$125.99</span></span></a>
							</div><!-- .item -->
						</div><!-- #switcher -->
					</div><!-- .container -->
				</div><!-- #controllers -->
				<div id="top-shadow"></div>
				<div id="bottom-shadow"></div>
			</div><!-- end #featured -->
			<div id="content">
				<br>
				<!-- .container -->
				 <!-- Quickstart options
				================================================== -->
				<div class="quickstart">
					<div class="mycontainer">
						<div class="row">
							<div class="span5 columns">
								<h6>
									Hotlink the CSS
								</h6>
								<p>
									For the quickest and easiest start, just copy this snippet into your webpage.
								</p>
								<form>
									<textarea class="copy-code" rows="1">
&lt;link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css"&gt;
</textarea>
								</form>
							</div>
							<div class="span5 columns">
								<h6>
									Use it with Less
								</h6>
								<p>
									A fan of using Less? No problem, just clone the repo and add these lines:
								</p>
								<form>
									<textarea class="copy-code" rows="2">
&lt;link rel="stylesheet/less" href="/path/to/bootstrap.less"&gt;
			&lt;script src="/path/to/less.js"&gt;&lt;/script&gt;
</textarea>
								</form>
							</div>
							<div class="span5 columns">
								<h6>
									Fork on GitHub
								</h6>
								<p>
									Download, fork, pull, file issues, and more with the official Bootstrap repo on Github.
								</p>
								<p>
									<a target="_blank" href="https://github.com/twitter/bootstrap" class="btn primary">Bootstrap on GitHub »</a>
								</p>
							</div>
						</div><!-- /row -->
					</div>
				</div>
			</div><!-- #content -->
			<div class="container">
				<!-- About Bootstrap
		================================================== -->
				<section id="about">
					<div class="page-header">
						<h1>
							About Bootstrap <small>Brief history, browser support, and more</small>
						</h1>
					</div>
					<div class="row">
						<div class="span6 columns">
							<h3>
								History
							</h3>
							<p>
								In the earlier days of Twitter, engineers used almost any library they were familiar with to meet front-end requirements. Bootstrap began as an answer to the challenges that presented and development quickly accelerated during Twitter’s first Hackweek.
							</p>
							<p>
								With the help and feedback of many engineers at Twitter, Bootstrap has grown significantly to encompass not only basic styles, but more elegant and durable front-end design patterns.
							</p>
							<p>
								Read more on <a href="https://dev.twitter.com/blog/bootstrap-twitter">dev.twitter.com ›</a>
							</p>
						</div>
						<div class="span5 columns">
							<h3>
								Browser support
							</h3>
							<p>
								Bootstrap is tested and supported in major modern browsers like Chrome, Safari, Internet Explorer, and Firefox.
							</p><img src="assets/img/browsers.png" width="220px" height="48px" alt="Tested and supported in Chrome, Safari, Internet Explorer, and Firefox">
							<ul>
								<li>Latest Safari
								</li>
								<li>Latest Google Chrome
								</li>
								<li>Firefox 4+
								</li>
								<li>Internet Explorer 7+
								</li>
							</ul>
						</div>
						<div class="span5 columns">
							<h3>
								What's included
							</h3>
							<p>
								Bootstrap comes complete with compiled CSS, uncompiled, and example templates.
							</p>
							<ul>
								<li>All original .less files
								</li>
								<li>Fully compiled and minified CSS
								</li>
								<li>Complete styleguide documentation
								</li>
								<li>Example page template (more to come soon)
								</li>
							</ul>
						</div>
					</div><!-- /row -->
				</section>
			</div><!-- /container -->
			<%- content_for(:bottom) do -%>
				<%= javascript_include_tag "cufon-yui.js" %>
				<%= javascript_include_tag "Raleway_250.font.js" %>
				<%= javascript_include_tag "League_Gothic_400.font.js" %>
				<%= javascript_include_tag :defaults %>
				<%= javascript_include_tag "font.js" %>
				<%= javascript_include_tag "jquery.easing-1.3.pack.js" %>
				match "home/" => "home#index"<%- end -%>
	
