<!DOCTYPE html>
<html>
<head>
  <title>dealJabbers</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery_ujs.js" %>
	

	<script type="text/javascript" src="http://static.rpxnow.com/js/lib/rpx.js"></script>
  <%= yield(:head) -%>

  <%= csrf_meta_tag %>
	<script>
		var url = '<%= request.fullpath %>';
	</script>

</head>
<body>
	
	
		<div id="home" class="home blog cufon-enabled unknown">
			<div class="topbar" id="header">
				<div class="fill">
					<div class="container">
						<h3>
							<a href="/home"><font color="gray"><%= yield(:title) -%></font><font size="+2" >Jabbers.com</font></a>
						</h3>
						<ul>
							<li id="overview" class="active">
								<a href="/home">Overview</a>
							</li>
							<li id="business">
								<a href="/business">Business</a>
							</li>
							<li id="business">
								<a href="/dating">Dating</a>
							</li>
							<li id="about">
								<a href="#about">About</a>
							</li>

						</ul>
						<span><% if user_signed_in? %>
    							<%= current_user.email %>. Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  						<% else %>
    							<%= link_to_rpx "Sign in", user_session_url %> <%= javascript_include_rpx(user_session_url) %>
  						<% end %> </span>
						<span class="notice"><%= notice %></span>
					        <span class="alert"><%= alert %></span>

					</div>
				</div>
			
			</div>
<%= yield %>


<%= yield(:bottom) -%>
	   </div>
		


</body>
</html>
